
/* _-_-_-_-__ morphing navigation styling __-_-_-_-_ */

.header {
  width: 100vw;
  height: 100vh;
  background: url(img/space-ship-bg.svg) no-repeat center center;
  background-size: cover;
  position: relative;
}

.navigation {
  width: 10%;
  height: 20%;
  display: block;
  padding-right: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  border-radius: 0% 50% 350% 0%;
  -webkit-perspective: 800;
  perspective: 800;
  -webkit-transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.logo {
  width: 70px;
  height: 70px;
  display: block;
  position: absolute;
  top: 8%;
  left: 15%;
  background: url(img/space-ship-logo.svg) no-repeat center center;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-360deg);
  transform: rotateY(-360deg);
  -webkit-transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation__icon {
  width: 55px;
  height: 44px;
  display: block;
  position: relative;
  top: 22%;
  left: 35%;
  background: hsla(312, 51%, 41%, 0.0);
  cursor: pointer;
  -webkit-transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation__icon .topBar {
  width: 55px;
  height: 2px;
  display: block;
  background: #1CDDFF;
  position: absolute;
  top: 10px;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation__icon .middleBar {
  width: 55px;
  height: 2px;
  display: block;
  background: #1CDDFF;
  position: absolute;
  top: 20px;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation__icon .bottomBar {
  width: 35px;
  height: 2px;
  display: block;
  background: #1CDDFF;
  position: absolute;
  top: 30px;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation .navigation__ul {
  float: right;
  margin-top: 220px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: rotateY(-90deg) translateX(-300px);
  transform: rotateY(-90deg) translateX(-300px);
  -webkit-transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation .navigation__ul li {
  list-style: none;
  text-align: right;
}

.navigation .navigation__ul a {
  display: block;
  font-size: 2.3rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #1CDDFF;
  margin-bottom: 15px;
}

.navigation .navigation__ul a:hover {
  color: hsl(185, 96%, 33%);
}

.navigation .navigation__social {
  width: 100%;
  height: 30px;
  padding-right: 45px;
  position: absolute;
  bottom: 18%;
}

.navigation .navigation__social-ul {
  float: right;
  list-style: none;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: rotateY(-90deg) translateX(-300px);
  transform: rotateY(-90deg) translateX(-300px);
  -webkit-transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation .navigation__social-ul li {
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(35px);
  transform: translateY(35px);
  -webkit-transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation .social-icon {
  width: 30px;
  height: 30px;
  display: block;
  background: url(img/space-ship-logo.svg) no-repeat center center;
  margin-left: 15px;
}


/* _-_-_-_-__ jQuery Navigation-Open __-_-_-_-_ */

.navigation-open {
  width: 350px;
  height: 100%;
  display: block;
  background: black;
  position: absolute;
  left: 0;
  border-radius: 0% 1% 1% 0%;
}

.navigation-open .logo {
  left: 68%;
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.navigation-open .navigation__icon {
  left: 80%;
}

.navigation-open .navigation__ul {
  opacity: 1;
  visibility: visible;
}

.navigation-open .navigation__social-ul {
  opacity: 1;
  visibility: visible;
}

.navigation-open .topBar {
  top: 21px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navigation-open .middleBar {
  width: 0;
  top: 22px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
}

.navigation-open .bottomBar {
  width: 55px;
  top: 21px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navigation-open .navigation__ul {
  -webkit-transform: rotateY(0) translateX(0);
  transform: rotateY(0) translateX(0);
}

.navigation-open .navigation__social-ul {
  -webkit-transform: rotateY(0) translateX(0);
  transform: rotateY(0) translateX(0);
}

.navigation-open .navigation__social-ul li {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.navigation-open .navigation__social-ul li:nth-child(1) {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

.navigation-open .navigation__social-ul li:nth-child(2) {
  -webkit-transition-delay: .46s;
  transition-delay: .46s;
}

.navigation-open .navigation__social-ul li:nth-child(3) {
  -webkit-transition-delay: .43s;
  transition-delay: .43s;
}

.navigation-open .navigation__social-ul li:nth-child(4) {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

/*sparkle border*/

$c-border: #9F2042;
$c-background: #E3E4DB;
$c-text: #441151;


.aff {
  margin: .5em;
  padding: 0;
  box-sizing: border-box;
  text-align: center;

}

.aff a{
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.1rem;
  line-height: 100%;
}
.borderi{

  background: #191919;
  box-shadow: 0px 0px 15px 2px #7Cbdbd inset;
  border: 2px solid #3acaec;
  border-radius: 5px;
  border-bottom-right-radius: 250px;
}
/*
.sparkle {
  max-width: 1em;
  color: $c-text;
  margin-right: 2.5em;
  &:hover {
    cursor: pointer;
  }
}

.u-hover--sparkle {

  box-sizing: border-box;
  position: relative;
  padding: .75em;
  &::before,
  &::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
  }

  &::before {
    border-top: .2em solid $c-border;
    border-bottom: .2em solid #9F2042;
    transform: scale3d(0,1,1);
  }

  &::after {
    border-left: .2em solid $c-border;
    border-right: .2em solid $c-border;
    transform: scale3d(1,0,1);
  }

  &:hover::before,
  &:hover::after {
    transform: scale3d(1,1,1);
    transition: transform 900ms;
  }
}
