.underline-box
    h1.jump-reveal
        span.letter C
        span.letter O
        span.letter N
        span.letter C
        span.letter E
        span.letter T
        span.letter T
        span.letter O
        
